/*
 * Enter any custom CSS here.
 * This file will not be overwritten by theme updates.
*/

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Re-theme headings and titles to purple/pink */
.bg-gradient-text-headline {
  background-image: linear-gradient(to right, #a855f7, #f472b6);
}

.bg-gradient-text-title {
  background-image: linear-gradient(to right, #e5e7eb, #ec4899, #f9fafb, #a855f7, #e5e7eb);
}

.bg-gradient-button-primary {
  background-image: linear-gradient(to top, #a855f7, #ec4899);
}

.bg-gradient-button-secondary {
  background-image: linear-gradient(rgb(31, 41, 55), rgba(31, 41, 55, 0.6));
}

.bg-footer-discord {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(168, 85, 247, 0.2), rgba(0, 0, 0, 0));
}

.bg-gradient-card {
  background-image: linear-gradient(to right bottom, rgba(17, 24, 39, 0.5), rgba(168, 85, 247, 0.08), rgba(17, 24, 39, 0.5))
}

.headline::before,
.headline::after {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(236, 72, 153, 0.5));
}

.before-border::before,
.before-border-wh::before {
  background: linear-gradient(to right, #1f2937, #4b5563, #1f2937) border-box;
}

.before-border-wh::after {
  opacity: 0;
  background: linear-gradient(to right, rgba(168, 85, 247, 0.5), rgb(236, 72, 153), rgba(168, 85, 247, 0.5));
}

